
section
{
    position: relative;
    min-height: 100vh;
    background: #fee648;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    /* margin-top: 150px; */
} 

section .register_container
{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

section .register_container .user
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .register_container .user .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s;
}

section .register_container .user .imgBx img
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .register_container .user .formBx
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

section .register_container .user .formBx form h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
 .border-none
 {
    border: none;
 }

.formati_input_error
{
    border: 1px solid #f30707;
    padding-right : calc(1.5em + .75rem);
    background-image :url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat : no-repeat;
    background-position : right calc(.375em + .1875rem) center;
    background-size : calc(.75em + .375rem) calc(.75em + .375rem);
}
section .register_container .user .formBx form input
{
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    /* border: none; */
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
section .register_container .user .formBx form textarea
{
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    /* border: none; */
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

section .register_container .user .formBx  form input[type="submit"]
{
    max-width: 100px;
    background: #677eff;
    color:#fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .register_container .user .formBx form .signup
{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

section .register_container .user .formBx form .signup a
{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

.my_invalid_feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

/* section .register_container .singupBx
{
    pointer-events: none;
}
section .register_container.active .singupBx
{
    pointer-events: initial;
}

section .register_container .singupBx .formBx
{
    left :100%;
}
section .register_container.active .singupBx .formBx
{
    left :0;
}
section .register_container .singupBx .imgBx
{
    left :-100%;
}
section .register_container.active .singupBx .imgBx
{
    left :0;
}


section .register_container .singinBx .formBx
{
    left :0;
}
section .register_container.active .singinBx .formBx
{
    left :100%;
}
section .register_container .singinBx .imgBx
{
    left :0;
}
section .register_container.active .singinBx .imgBx
{
    left :-100%;
} */

@media (max-width:990px)
{
    section .register_container
    {
        max-width: 400px;
    }
    section .register_container .imgBx
    {
        display: none;
    }
    section .register_container .user .formBx
    {
        width: 100%;
    }
}